@import "utils/variables.scss";

.developers {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.container {
    height: 250px;
    display: flex;
    position: relative;
}
.hoveredContainer {
    .card {
        .info {
            visibility: hidden;
            height: 0;
        }
    }
}

.card {
    width: 250px;
    padding: 12px 12px 28px 12px;
    gap: 12px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background-color: $placeholder-color;
}

.image {
    margin: auto 0;
    svg {
        height: 150px;
    }
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height ease-in-out 0.4s;
}
.name {
    font-size: 20px;
}
.role {
    font-size: 18px;
    color: $primary-color;
}
.short_description {
    margin-top: 8px;
}
.skills {
    margin-left: 24px;
}

.leftContainer {
    flex-direction: row-reverse;
}
.leftCard {
    margin-left: auto;
}
