@import "../../utils/variables.scss";

.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding: $gap;

  @media (min-width: 420px) {
    padding: $gap;
  }

  @media (min-width: 700px) {
    padding: $gap;
  }
  
  @media (min-width: 900px) {
    padding:$big-gap * 2;
  }
}

.containerContent {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}
