.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding: var(--little_padding);

  @media (min-width: 420px) {
    padding: var(--padding);
  }

  @media (min-width: 700px) {
    padding: var(--big_padding);
  }
  
  @media (min-width: 900px) {
    padding: calc(var(--big_padding) * 2);
  }
}

.container__content {
  width: 100%;
  height: 100%;
  max-width: 1240px;
}
