@import "variables.scss";

@font-face {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../assets/font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../assets/font/Roboto-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Roboto-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    > div {
        height: 100%;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
}
svg {
    display: block;
    max-width: 100%;
}
input,
button {
    font: inherit;
}

p,
h1 {
    color: $text-color;
}
