// Color Variables
$text-color: #ddd;

$background-color: #222831;

$primary-color: #00adb5;
$primary-text-color: #000;

$placeholder-color: #323b49;

$danger-color: #ff4d4f;

$little-gap: 8px;
$gap: 16px;
$big-gap: 32px;
